body
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: blue;
}
/*trucs pour test*/
header, footer, article
{
    height: 25px;
    margin: 5px;
}
aside
{
    height: 50px;
    width: 50px;
}


/*la ou sa beug*/
.reset
{
    display: flex;
}

header
{
    background-color: red;
}

section
{
    background-color: pink;
}
aside
{
    background-color: grey;  
}

article
{
    background-color: lightblue;
}

footer
{
    background-color: green;
}

.yellow
{
    background-color: yellow;
}
