*{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    text-align: center;
}


body{

    background-color: pink;
}

article h1
{
    color: beige;
}
/*tableau*/
table 
{
border: medium solid #fefefe;
border-collapse: collapse;
width: 50%;
}

th 
{
border: thin solid #ffffff;
}

td 
{
border: thin solid #fefefe;
width: 25%;
padding: 5px;
}

caption 
{
font-family: sans-serif;
}